zubappxam/.vs/
zubappxam/zubappxam/zubappxam.Android/bin/
zubappxam/zubappxam/zubappxam.Android/obj/
zubappxam/zubappxam/zubappxam/obj/
zubappxam/zubappxam/zubappxam/bin/
zubwebback/.vs/
zubwebback/packages/
zubwebback/zubwebback/bin/
zubwebback/zubwebback/obj/
zubwebback/zubwebback/Properties/PublishProfiles/
